<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{tittle}}</title>

    <link rel="shortcut icon" href="img/logoI.ico" />

    <!--Links para el Slide-->
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />

    <!--Links para los efectos del Hover-->
    <link rel="stylesheet" href="css/hover.css">

    <!--Links para los iconos-->
    <link rel="stylesheet" href="css/fontawesome-all.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reco.css">
    <link rel="stylesheet" href="css/reset.css">
</head>

<body>
    <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="img/logo01.png" alt="">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>
            <div class="enlaces" id="enlaces">
                <a class="home hvr-underline-from-left" href="/">Home</a>
                <a class="how hvr-underline-from-left" href="/how">How I Am</a>
                <a class="book hvr-underline-from-left" href="/book">Books</a>
                <a class="contact hvr-underline-from-left" href="/reco">Recommended</a>
                <a class="contact hvr-underline-from-left" href="/contact">Contact Me</a>
                <a class="tienda hvr-underline-from-left" href="/checkout">
                    <div>
                        <img src="img/shopping-cart.png" width="26px" alt="" class="shopping-cart">
                        <span class="carrito rose">0</span>
                    </div>
                </a>
            </div>
        </nav>
    </header>

    <section class="cuerpo">
        <!--Parte Izquierda de la pantalla-->
        <!--Filtros-->
        <div class="filtro">
            <div class="filbotones">
                <div class="filtema">
                    <h2>Thematic...</h2>
                    <a class="hvr-underline-from-left" href="/reco?tematica=Drama">Drama</a>
                    <a class="hvr-underline-from-left" href="/reco?tematica=Fantasia">Fantasia</a>
                    <a class="hvr-underline-from-left" href="/reco?tematica=Narrativa">Narrativa</a>
                    <a class="hvr-underline-from-left" href="/reco?tematica=Autobiografía">Autobiografía</a>
                </div>
                <div class="filidio">
                    <h2>Language...</h2>
                    <a class="hvr-underline-from-left" href="/reco?idioma=English">English</a>
                    <a class="hvr-underline-from-left" href="/reco?idioma=French">French</a>
                    <a class="hvr-underline-from-left" href="/reco?idioma= Spanish">Spanish</a>
                    <a class="hvr-underline-from-left" href="/reco?idioma=All">All</a>
                </div>
                <div class="filedito">
                    <h2>Editorial...</h2>
                    <a class="hvr-underline-from-left" href="/reco?editorial=Salamandra">Salamandra</a>
                    <a class="hvr-underline-from-left" href="/reco?editorial=Planeta">Planeta</a>
                </div>
                <div class="filcali">
                    <h2>Score...</h2>
                    <a class="hvr-underline-from-left" href="/reco?calificacion=5">5</a>
                    <a class="hvr-underline-from-left" href="/reco?calificacion=4">4</a>
                    <a class="hvr-underline-from-left" href="/reco?calificacion=3">3</a>
                    <a class="hvr-underline-from-left" href="/reco?calificacion=2">2</a>
                    <a class="hvr-underline-from-left" href="/reco?calificacion=1">1</a>
                </div>
            </div>
            <div class="filbarras">
                <div class="filprecio">
                    <h2>Price...</h2>
                    <p> $0 > </p>
                    <input type="range" name="" id="slider" min="0" max="49">
                    <p> $50 </p>
                    <div class="numer">
                        <span id="demo"></span>
                    </div>
                    <button class="minMax">Buscar</button>
                </div>
            </div>

            <div class="eliminar">
                <h2 class="hvr-underline-from-center">
                    <a href="/reco">Eliminar Filtros</a>
                </h2>
            </div>

            <!--Footer-->
            <footer class="mini">
                <div class="cont-social">
                    <a href="#">
                        <i id="social-fb" class="fab fa-facebook-f social"></i>
                    </a>
                    <a href="#">
                        <i id="social-tw" class="fab fa-twitter social"></i>
                    </a>
                    <a href="#">
                        <i id="social-gp" class="fab fa-google-plus-g social"></i>
                    </a>
                    <a href="#">
                        <i id="social-em" class="fas fa-envelope social"></i>
                    </a>
                </div>
            </footer>
        </div>

        <!--Parte Derecha de la pantalla-->
        <div class="libros">
            <div class="mostrar">
                {{#each libros}}
                <!--Parte mostrar cada tarjeta individual-->
                <div class="libro hvr-glow" data-id="{{this._id}}">
                    <div class="imagen" style="background-image: url({{libro}});"></div>
                    <div class="descri">
                        <p class="nom">
                            <b>{{nombre}}.</b>
                        </p>
                        <p class="desc">
                            Pages: {{paginas}}.
                        </p>
                        <p class="desc">
                            Language: {{idioma}}.
                        </p>
                        <p class="desc">
                            Price: ${{precio}}.
                        </p>
                        <p class="desc">
                            Start: {{calificacion}}
                        </p>
                    </div>
                    <div class="boton" align="center">
                        <a href="/reco/specific/{{nombre}}" id="cuadro">
                            <button class="more">Learn More...</button>
                        </a>
                        <button class="agregar" id="compra">Add To Card</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    <script src="js/jquery-3.3.1.js"></script>
    <!--JS de Menu-->
    <script src="js/headroom.js"></script>
    <script src="js/menu.js"></script>
    <!--JS de SweetAlert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--Js del taller-->
    <script src="js/cliente.js"></script>
    <script src="js/productos.js"></script>
    <script src="js/recommended.js"></script>
    <script>
        //Uso del SweetAlert
        document.getElementById('compra').addEventListener('click', tomarDatos);

        function tomarDatos(e) {
            e.preventDefault();

            var mail = document.getElementById('cuadro').value;
            swal("Thanks for Buying!", "This product is added to the cart: " + mail, "success");
        }
    </script>
</body>

</html>